<!doctype html>
<html lang="en" ng-app="classifier">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classifier - Free Text</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="js/classifierController.js"></script>
</head>
<body ng-controller="ClassifierCtrl" ng-init="init()">
  <div class="container">
    <div class="row">
      <form class="form-horizontal well" role="form">
        <div class="form-group">
          <label for="textInputField" class="col-lg-1 control-label">Text</label>
          <div class="col-lg-11">
            <textarea id="textInputField" rows="4" class="form-control" placeholder="Enter text..."
              ng-model="predict.query" ng-keyup="predictOnNewOrRemovedWord($event)"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="tag-container" class="col-lg-1 control-label">Tags</label>
          <div class="col-lg-11" id="tag-container">
            <span ng-repeat="(label, prediction) in predictions">
              <button ng-repeat="(label, values) in prediction" class="btn btn-info btn-xs col-lg-2"
                      ng-click="explain_category(label)" bs-button>{{label}}</button>
            </span>
          </div>
          <div id="explain-container" dynamic="predict.highlighted_query"></div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
